In [1]:
import os
os.getcwd()
os.chdir('/Users/brettcastellanos/galvanize/craft_beer_ratings/')

In [2]:
import holoviews as hv
import pandas as pd

In [3]:
reviews_df = pd.read_csv('data/1-clean/clean_reviews.csv')
beer_df = pd.read_csv('data/1-clean/cleaned_beers.csv')

In [4]:
reviews_df.head()

,author,beer,feel,look,overall,review_id,smell,taste,text,brew_beer,review_num,cleaned_text
0,/community/members/gr0g.621250/,brett ipa,4.0,3.75,4.00,allagash brewing company brett ipa 13,4.0,4.25,4.09/5 rDev +0.5%look: 3.75 | smell: 4 | tast...,allagash brewing company brett ipa,13,hazy new england styl appear kind disappoint h...
1,/community/members/jmerloni.300819/,sah'tea,4.0,4.50,4.00,dogfish head craft brewery sah'tea 317,4.5,4.00,4.15/5 rDev +7%look: 4.5 | smell: 4.5 | taste...,dogfish head craft brewery sah'tea,317,- beauty sunset yellow-orange col glory hazy s...
2,/community/members/bilhelm.598060/,london balling,4.5,4.25,4.25,against the grain brewery & smokehouse london ...,4.0,4.50,4.32/5 rDev +3.6%look: 4.25 | smell: 4 | tast...,against the grain brewery & smokehouse london ...,72,brew grain thorough enjoy a- pour cloudy deep ...
3,/community/members/myotus.891331/,90 shilling,3.0,2.00,4.25,odell brewing company 90 shilling 79,4.0,4.25,3.93/5 rDev +1.3%look: 2 | smell: 4 | taste: ...,odell brewing company 90 shilling,79,pour 12oz bottl mikas al glass look pour half ...
4,/community/members/biboergosum.168458/,death or glory,4.0,4.00,4.00,tring brewery company ltd. death or glory 4,4.0,4.00,4/5 rDev +3.1%look: 4 | smell: 4 | taste: 4 |...,tring brewery company ltd. death or glory,4,330ml bottl best feb 2012 cool rah-rah britann...

In [5]:
beer_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9248 entries, 0 to 9247
Data columns (total 16 columns):
abv                    8998 non-null float64
beer                   9248 non-null object
beer_url               9248 non-null object
brewery                9248 non-null object
brewery_profile_url    9248 non-null object
gots                   9248 non-null float64
note                   9248 non-null object
pdev                   9248 non-null float64
rank                   8876 non-null float64
rating                 9248 non-null float64
ratings_count          9248 non-null float64
review_count           9248 non-null float64
style                  9248 non-null object
trade                  9248 non-null float64
wants                  9248 non-null float64
brew_beer              9248 non-null object
dtypes: float64(9), object(7)
memory usage: 1.1+ MB

In [6]:
reviews_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 790216 entries, 0 to 790215
Data columns (total 12 columns):
author          790216 non-null object
beer            790216 non-null object
feel            781084 non-null float64
look            781084 non-null float64
overall         781084 non-null float64
review_id       790216 non-null object
smell           781084 non-null float64
taste           781084 non-null float64
text            790216 non-null object
brew_beer       790216 non-null object
review_num      790216 non-null int64
cleaned_text    790201 non-null object
dtypes: float64(5), int64(1), object(6)
memory usage: 72.3+ MB

In [7]:
join = reviews_df.merge?

In [ ]:
join = reviews_df.merge

In [8]:
join = reviews_df.merge

In [9]:
join = reviews_df.merge(right=beer_df[['brewery', 'brew_beer']], how='inner', on='brew_beer')

In [10]:
join.head()

,author,beer,feel,look,overall,review_id,smell,taste,text,brew_beer,review_num,cleaned_text,brewery
0,/community/members/gr0g.621250/,brett ipa,4.00,3.75,4.00,allagash brewing company brett ipa 13,4.00,4.25,4.09/5 rDev +0.5%look: 3.75 | smell: 4 | tast...,allagash brewing company brett ipa,13,hazy new england styl appear kind disappoint h...,allagash brewing company
1,/community/members/karibourgeois.744514/,brett ipa,4.00,4.00,4.25,allagash brewing company brett ipa 10,4.25,4.25,4.21/5 rDev +3.4%look: 4 | smell: 4.25 | tast...,allagash brewing company brett ipa,10,hazy straw col pour whit head funky barnyard a...,allagash brewing company
2,/community/members/velvetextract.414126/,brett ipa,4.50,4.25,4.25,allagash brewing company brett ipa 3,4.25,4.25,4.28/5 rDev +5.2%look: 4.25 | smell: 4.25 | t...,allagash brewing company brett ipa,3,tap sur acc ip nam damn tasty beer beer pour c...,allagash brewing company
3,/community/members/dragginballs76.1066881/,brett ipa,4.25,4.00,4.25,allagash brewing company brett ipa 20,4.25,4.25,4.24/5 rDev +4.2%look: 4 | smell: 4.25 | tast...,allagash brewing company brett ipa,20,appear - pour murky orang nic whit head last q...,allagash brewing company
4,/community/members/polloenfuego.715115/,brett ipa,4.25,4.00,4.25,allagash brewing company brett ipa 28,4.00,4.25,4.18/5 rDev +2.7%look: 4 | smell: 4 | taste: ...,allagash brewing company brett ipa,28,pour cloudy pal gold thumb wor head upon break...,allagash brewing company

In [11]:
join.tail()

,author,beer,feel,look,overall,review_id,smell,taste,text,brew_beer,review_num,cleaned_text,brewery
754019,/community/members/chaingangguy.8942/,tripel b (oaked),4.5,4.00,3.75,adelbert's brewery tripel b (oaked) 0,3.5,3.50,3.68/5 rDev -11.1%look: 4 | smell: 3.5 | tast...,adelbert's brewery tripel b (oaked),0,appear pour haz pal orange-gold body wispy whi...,adelbert's brewery
754020,/community/members/jentex.751701/,boone river,4.5,4.00,4.25,austin beerworks boone river 0,4.0,4.00,4.1/5 rDev -1.2%look: 4 | smell: 4 | taste: 4...,austin beerworks boone river,0,gre sum beer austin beerwork tap room carbon p...,austin beerworks
754021,/community/members/wvbeergeek.775/,really nelson india red ale,4.0,4.00,4.00,jackie o's pub & brewery really nelson india r...,4.0,3.75,3.9/5 rDev -6.9%look: 4 | smell: 4 | taste: 3...,jackie o's pub & brewery really nelson india r...,0,deep amb almost burnt toff hue big cream head ...,jackie o's pub & brewery
754022,/community/members/jason.3/,innertube,4.5,3.75,4.00,burial beer co. innertube 0,4.0,4.00,4.04/5 rDev -0.2%look: 3.75 | smell: 4 | tast...,burial beer co. innertube,0,12oz sampl brewery mad sur sampl ic cold chil ...,burial beer co.
754023,/community/members/agentmunky.409755/,exxpedition imperial red ale,4.0,4.25,4.00,drake's brewing co. exxpedition imperial red a...,3.5,3.75,3.8/5 rDev +2.2%look: 4.25 | smell: 3.5 | tas...,drake's brewing co. exxpedition imperial red ale,0,pour 22 ount bottl allagash cervo glass bottl ...,drake's brewing co.

In [12]:
join.columns

Index(['author', 'beer', 'feel', 'look', 'overall', 'review_id', 'smell',
       'taste', 'text', 'brew_beer', 'review_num', 'cleaned_text', 'brewery'],
      dtype='object')

In [13]:
join.drop(['feel', 'look', 'smell', 'taste', 'text', 'cleaned_text'], axis=1, inplace=True)

In [14]:
join.head()

,author,beer,overall,review_id,brew_beer,review_num,brewery
0,/community/members/gr0g.621250/,brett ipa,4.00,allagash brewing company brett ipa 13,allagash brewing company brett ipa,13,allagash brewing company
1,/community/members/karibourgeois.744514/,brett ipa,4.25,allagash brewing company brett ipa 10,allagash brewing company brett ipa,10,allagash brewing company
2,/community/members/velvetextract.414126/,brett ipa,4.25,allagash brewing company brett ipa 3,allagash brewing company brett ipa,3,allagash brewing company
3,/community/members/dragginballs76.1066881/,brett ipa,4.25,allagash brewing company brett ipa 20,allagash brewing company brett ipa,20,allagash brewing company
4,/community/members/polloenfuego.715115/,brett ipa,4.25,allagash brewing company brett ipa 28,allagash brewing company brett ipa,28,allagash brewing company

In [15]:
join.to_csv('data/2-clean/reviews_trunc.csv', index=False)

In [16]:
beer_df.columns

Index(['abv', 'beer', 'beer_url', 'brewery', 'brewery_profile_url', 'gots',
       'note', 'pdev', 'rank', 'rating', 'ratings_count', 'review_count',
       'style', 'trade', 'wants', 'brew_beer'],
      dtype='object')

In [17]:
beer_df.drop(['abv', 'gots', 'note', 'pdev', 'rank', 'ratings_count', 'review_count', 'trade', 'wants'], axis=1, inplace=True)

In [18]:
beer_df.to_csv('data/2-clean/beers_trunc.csv', index=False)

In [19]:
print('done')

done

In [20]:

for brew_beer in beer_df['brew_beer'].iloc[0:5]:
    row = beer_df[beer_df['brew_beer']==brew_beer]
    flash('Brewery: {} Beer: {} Rating: {}'.format(
        row['brewery'].iloc[0], row['beer'].iloc[0],
        row['rating'].iloc[0]
    )

SyntaxError: unexpected EOF while parsing (<ipython-input-20-fe5f367fd624>, line 6)

In [ ]:
beer_df['brew_beer'].iloc[0:5]